<div class="container">
  <div class="input_div">
     <input type="text" #myInput placeholder="Type here..." [(ngModel)]='search' (input)="filterItem(myInput.value)">
  </div>
  <div class="first-col">
    <app-first-reusable *ngFor='let item of filteredItems; let i = index' [item]='item.text' [id]='i' (sendItem)='sendItem($event)'></app-first-reusable>
  </div>
  <div class="arrow-col">
    <i class="fa fa-arrow-circle-down" aria-hidden="true" (click)='selectAll()' [ngClass]="(downArrow==true)?'show':'hide'"></i>
    <i class="fa fa-arrow-circle-up" aria-hidden="true" (click)='deselectAll()' [ngClass]="(upArrow==true)?'show':'hide'"></i>
  </div>
  <div class="second-col">
    <app-second-reusable *ngFor='let item of secondArr; let i = index' [item]='item.text' [id]='i' (resendItem)='resendItem($event)'></app-second-reusable>
  </div>
</div>