<div class="container">
  <div class="first-col">
      <app-first-reusable 
       *ngFor='let item of mainArr; let i = index'
       [item]='item.text'
       [id]='i'
       (findIndex)='findIndex($event)'
       ></app-first-reusable>
  </div>

  <div class="second-col">
    <app-second-reusable
     *ngFor='let item of secondArr; let i = index'
     [item]='item.text'
     [id]='i'
     (resendIndex)='resendIndex($event)'
    ></app-second-reusable> 
  </div>
  <button (click)='selectAll()'>SelectAll</button>
  <button (click)='deselectAll()'>DeselectAll</button>
</div>  