/* You can add global styles to this file, and also import other style files */

.items{
    font-size: 13px;
    font-family: verdana;
    cursor: pointer;
    padding: 5px;
    margin: 0px
}

.items:hover{
    background: #F0F0F0;
}